<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thearbiter.thriftbooksnepal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.MainALevelBuyer"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.MainIbBuyer"
            android:label="@string/app_name" />
        <activity
            android:name=".Activities.MainPlusTwoBuyer"
            android:label="@string/app_name" />
        <activity android:name=".Activities.MainDrawerHome" />
        <activity
            android:name=".Activities.SignUp"
            android:label="@string/title_activity_sign_up"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Splash"
            android:label="ib">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Login"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Activities.ChatMainActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".Activities.IbOptions"
            android:label="ib" />
        <activity
            android:name=".Activities.ALevelOptions"
            android:label="alevel" />

        <activity
            android:name=".Activities.PlusTwoOptions"
            android:label="ib" />
        <activity
            android:name=".Activities.FinalBuyersActivity"
            android:label="ib" />
        <activity
            android:name=".ExtraClasses.MessagingTryActivity"
            android:label="ib" />
        <activity
            android:name=".Activities.ActivitySeller"
            android:label="ib"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activities.Accounts"
            android:label="@string/title_activity_accounts"
            android:windowSoftInputMode="adjustPan" />

        <service android:name=".ExtraClasses.FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".ExtraClasses.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Activities.MyOrders">
            <intent-filter>
                <action android:name="com.example.thearbiter.thriftbooksnepal_TARGET_NOTIFICATION"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>

        </activity>
        <activity android:name=".Activities.Notifications"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>